/* MOBILE */
@media screen and (min-width: 428px){

.container-team--cards>.container{
    max-width: 396px;
}
.link-menu-tel{
    white-space: nowrap;
}
}



/* TABLET */
@media screen and (min-width: 768px) {
.container{
    max-width: 736px;
} 
/* HEADER*/
.container-header{
    display: flex;
    justify-content: space-between;
}
.menu-btn{
    display: none;
}
.mob-menu{
    display: none;
}
.list-header{
    display: flex;
    gap: 40px;
}
.link-logo {
    padding-bottom: 24px;
    margin-right: 120px;
}
.list-header{
    display: flex;
    gap: 40px;
}
.link-header {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    /* identical to box height, or 150% */
    letter-spacing: 0.02em;
    color:var(--title-color);
    padding-top: 24px;
    padding-bottom: 24px;
    display: block;
    position: relative;

}
.link-header::after{
    content: "";
    position:absolute;
    width: 100%;
    height: 4px;
    background-color: var(--pressed-state-color);
    border-radius: 2px;
    display: block;
    left:0;
    bottom: 0;
    opacity: 0;
    transform: scale(0);
    transform-origin: left;
    transition: transform 250ms var(--animation-delay);
    bottom: -1px;
}

.link-header:last-child{
    margin-right: 0;;
}

.link-header:hover, 
.link-header:focus,
.link-header.current {
    color: var(--pressed-state-color);
    transition: color 250ms var(--animation-delay);
}
.link-header:hover::after, 
.link-header:focus::after, 
.link-header.current::after{
    opacity: 1;
    transform: scale(1);
    transition: transform 250ms var(--animation-delay);
    transform-origin: right;
}

.address {
    font-style: normal;
}
.list-address{
    display: block;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-left: auto;
    
}
.address-item:last-child{
    margin-top: 12px;
}
.link-address {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    /* identical to box height, or 150% */
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    text-shadow: var(--borders-accent-color);
    display: block;
    transition: color 250ms var(--animation-delay); 
    
}


.link-address:hover , .link-address:focus {
    color: var(--pressed-state-color);
}
/*HERO*/

.hero {
    width: 100%;
    margin: 0 auto;
    background-color: var(--title-color);
    padding: 112px 0 112px 0;
    background-image:
    linear-gradient(rgba(46, 47, 66, 0.7), 
    rgba(46, 47, 66, 0.7)),
    url(../images/Hero-bg-tab.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), 
    rgba(46, 47, 66, 0.7)),
    url(../images/hero-bg-tab-2x.jpg);
  }
}
.title-hero {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    /* or 107% */
    margin-bottom: 48px;
    max-width: 496px;
}
/* FEATURES*/

.list-features{
    gap: 72px 24px;
}
.list-features-item{
  max-width: calc((100% - var(--cards-gap))/ 2) ;
}
/* OUR TEAM*/

.list-team{
    gap: 64px 24px;
}
.list-team-item {
    width: calc((100% - var(--cards-gap))/ 2);
}
.container-team--cards>.container{
    max-width: 552px;
    }
/* CUSTOMERS*/

.customers>.container{
    max-width: 552px;
}
.list-customers{
    gap: 72px 24px;
}    
.link-customers-item {
    width: calc((100% - 2 * var(--cards-gap))/ 3);
}
/* FOOTER*/

.footer>.container{
    max-width: 552px;
}
.container-footer{
    display: flex;
    align-items: baseline;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: var(--cards-gap);
    row-gap: 72px;
}
.container-footer-logo {
    max-width: 264px;
    margin: 0
}
.link-footer-logo{
    display: block;
}
.sub-form {
    display: flex;
    gap: var(--cards-gap);
}
.sub-input{
    Width: 264px;
}
.container-sub{
    width: 100%;
}
.subscribe-btn{
    margin: 0;
}
.text-subscribe{
    text-align: start;
}
.title-footer-soc{
    text-align: start;
}
.list-footer-soc{
    margin: 0;
}
.footer-text{
    margin: 0;
}
}

/*DESKTOP*/

@media  screen and (min-width:1158px) {
.container{
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
}

/* HEADER*/

.container-header{
    width: 1158px;
}

.menu-btn{
    display: none;
}
.mob-menu{
    display: none;
}
.list-address{
    display: flex;
    padding-top: 24px;
    padding-bottom: 24px;
    gap: 40px;
}
.address-item:last-child{
    margin: 0;
}
.link-address {
    line-height: 1.5;
    /* identical to box height, or 150% */
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    text-shadow: var(--borders-accent-color);
    display: block;
    transition: color 250ms var(--animation-delay); 
    
}
.list-address{
    padding-top: 24px;
    padding-bottom: 24px;
}

/* MAIN PAGE */

.hero {
    width: 100%;
    margin: 0 auto;
    background-color: var(--title-color);
    background-image:
    linear-gradient(rgba(46, 47, 66, 0.7), 
    rgba(46, 47, 66, 0.7)),
    url(../images/people-office.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1440px;
    padding: 188px 0 188px 0;
}
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), 
    rgba(46, 47, 66, 0.7)),
    url(../images/hero-bg-desktop-2x.jpg);
  }
}

/*FEATURES*/

.features{
 padding: 120px 0;
}
  
.list-features{
    gap: var(--cards-gap);
}
.list-features-item{
  width: calc((100% - 3 * var(--cards-gap))/ 4) ;
}
.link-icon{
    width: 264px;
    height: 112px;
    background-color: var(--light-cloud-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    margin-bottom: 8px;  
}

.subject {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    /* identical to box height, or 120% */
    letter-spacing: 0.02em;
    color: var(--title-color);
    margin-bottom: 8px;
}
.text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    /* or 150% */
    letter-spacing: 0.02em;
}

/*What are we doing*/
.container-images{
    display: flex;
    padding-bottom: 120px;
}

/*Our team*/

.container-team--cards{
    padding-top: 120px;
    padding-bottom: 120px;
}
.container-team--cards>.container{
    max-width: 1158px;
}
.list-team{
    gap: var(--cards-gap);
}
.list-team-item {
    width: calc((100% - 3 * var(--cards-gap))/ 4);
}

/* Customers */
.customers {
    padding-top: 120px;
    padding-bottom: 120px;
}
.customers>.container{
    max-width: 1158px;
}
.list-customers {
    gap: var(--cards-gap);
}
.link-customers-item {
    width: calc((100% - 5 * var(--cards-gap))/ 6);
}

/* FOOTER */


.footer {
    padding-top: 100px;
    padding-bottom: 100px;
}
.footer>.container{
    max-width: 1158px;

}
.container-footer{
    flex-wrap: nowrap;
    gap: initial;
}
.container-footer-logo{
    margin-right: 120px;
}
.link-footer-logo{
    margin-right: 76px;
    display: inline-block;
}

.container-sub{
    margin-left: 80px;
}

.sub-input{
  opacity: 1;
}

}
